[user]
	name = David Marcella
	email = marcella2113@gmail.com

[core]
	quotepath = false
	excludesfile = /Users/davidmarcella/.gitignore_global

[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto

[merge]
	tool = Kaleidoscope

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[diff]
	tool = Kaleidoscope

[alias]
	############ Explore your history, the commits and the code
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	fl = log -u
	aliases = config --get-regexp alias

	############ Log commands to inspect (recent) history
	dl = "!git ll -1"

	############ Finding files and content inside files
	f = "!git ls-files | grep -i"
	gr = grep -Ii

	############ List all your Aliases
	la = "!git config -l | grep alias | cut -c 7-"

	############ Basic Shortcuts
	g = git
	cp = cherry-pick
	st = status -s
	cl = clone
	ci = commit
	co = checkout
	br = branch
	diff = diff --word-diff
	a = add
	au = add -u
	l = log
	s = status
	ss = status --short
	d = diff
	gd = diff --staged
	dt = difftool
	dts = difftool --staged
	ci = commit -m
	rh = reset HEAD
