[user]
	name = David Marcella
	email = marcella2113@gmail.com

[core]
	quotepath = false
	excludesfile = /Users/dmarcella/.gitignore_global
	editor = mate -w

[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto

################################################################################

[diff]
	tool = Kaleidoscope

[difftool]
	prompt = false

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = Kaleidoscope

[mergetool]
	prompt = false

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

################################################################################
# http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/

[alias]
	############ Explore your history, the commits and the code
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	fl = log -u

	############ Log commands to inspect (recent) history
	dl = "!git ll -1"

	############ Finding files and content inside files
	f = "!git ls-files | grep -i"
	gr = grep -Ii

	############ List all your Aliases
	la = "!git config -l | grep alias | cut -c 7-"

	############ Assume aliases
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"
	unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
	assumeall = "!git st -s | awk {'print $2'} | xargs git assume"

	############ Tag aliases
	lasttag = describe --tags --abbrev=0

	############ Basic Shortcuts
	g = git
	cp = cherry-pick
	st = status -s
	cl = clone
	ci = commit
	co = checkout
	br = branch
	diff = diff --word-diff
	dc = diff --cached
